# Binning Data for Report 2

Testing code that allows us to find a 3 day moving average of daily average temperatures and comparing a daily average temperature to the average daily temperatures for the 3 previous days.

In [1]:
from __future__ import print_function, division

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import plot_date
import seaborn as sns

import datetime as dt
from datetime import datetime
from IPython.display import display

In [2]:
stations = {'seattle': 'WBAN:24233', 
            'boston': 'WBAN:14739', 
            'lexington': 'WBAN:93820', 
            'san diego': 'WBAN:93107'}

# Make a date parsing function with the correct format
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M')

# Read the CSV while parsing the dates
df = pd.read_csv("913023.csv", parse_dates=['DATE'], date_parser=dateparse)

/home/william/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,10,11,12,13,14,15,16,17,19,20,22,23,25,26,27,28,29,33,34,37,38,39,40,44,45,46,47,48,50,59,60,62,63,64,67,68,69,71,72,73,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#Remove all columns except for STATION, DATE, DAILYAverageDryBulbTemp, DAILYPrecip
#Make a copy of the original DataFrame
seatac = df.copy(deep=True)

#Uses DATE column as row index for resampling purposes later
seatac.set_index('DATE', inplace=True)

#Select rows of data for Seattle (WBAN:24233)
seatac = seatac.loc[seatac['STATION'] == stations['seattle']]

#Select columns with data we need
seatac = seatac[['STATION', 'DAILYAverageDryBulbTemp', 'DAILYPrecip']]

#Select 2015 data
seatac_2015 = seatac.copy(deep=True)
seatac_2015 = seatac_2015.ix['2015-01-01':'2015-12-31']
display(seatac_2015)

                        STATION DAILYAverageDryBulbTemp DAILYPrecip
DATE
2015-01-01 00:53:00  WBAN:24233                     NaN         NaN
2015-01-01 01:53:00  WBAN:24233                     NaN         NaN
2015-01-01 02:53:00  WBAN:24233                     NaN         NaN
2015-01-01 03:53:00  WBAN:24233                     NaN         NaN
2015-01-01 04:00:00  WBAN:24233                      34         NaN
2015-01-01 04:53:00  WBAN:24233                     NaN         NaN
2015-01-01 05:53:00  WBAN:24233                     NaN         NaN
2015-01-01 06:53:00  WBAN:24233                     NaN         NaN
2015-01-01 07:53:00  WBAN:24233                     NaN         NaN
2015-01-01 08:53:00  WBAN:24233                     NaN         NaN
2015-01-01 09:53:00  WBAN:24233                     NaN         NaN
2015-01-01 10:00:00  WBAN:24233                     NaN         NaN
2015-01-01 10:53:00  WBAN:24233                     NaN         NaN
2015-01-01 11:53:00  WBAN:24233                     NaN         NaN
2015-01-01 12:53:00  WBAN:24233                     NaN         NaN
2015-01-01 13:53:00  WBAN:24233                     NaN         NaN
2015-01-01 14:53:00  WBAN:24233                     NaN         NaN
2015-01-01 15:53:00  WBAN:24233                     NaN         NaN
2015-01-01 16:00:00  WBAN:24233                     NaN         NaN
2015-01-01 16:53:00  WBAN:24233                     NaN         NaN
2015-01-01 17:53:00  WBAN:24233                     NaN         NaN
2015-01-01 18:53:00  WBAN:24233                     NaN         NaN
2015-01-01 19:53:00  WBAN:24233                     NaN         NaN
2015-01-01 20:53:00  WBAN:24233                     NaN         NaN
2015-01-01 21:53:00  WBAN:24233                     NaN         NaN
2015-01-01 22:00:00  WBAN:24233                      35         NaN
2015-01-01 22:53:00  WBAN:24233                     NaN         NaN
2015-01-01 23:53:00  WBAN:24233                      34         NaN
2015-01-01 23:59:00  WBAN:24233                      34        0.00
2015-01-02 00:53:00  WBAN:24233                     NaN         NaN
...                         ...                     ...         ...
2015-12-30 23:59:00  WBAN:24233                      36        0.00
2015-12-31 00:53:00  WBAN:24233                     NaN         NaN
2015-12-31 01:53:00  WBAN:24233                     NaN         NaN
2015-12-31 02:53:00  WBAN:24233                     NaN         NaN
2015-12-31 03:53:00  WBAN:24233                     NaN         NaN
2015-12-31 04:00:00  WBAN:24233                      35         NaN
2015-12-31 04:53:00  WBAN:24233                     NaN         NaN
2015-12-31 05:53:00  WBAN:24233                     NaN         NaN
2015-12-31 06:53:00  WBAN:24233                     NaN         NaN
2015-12-31 07:53:00  WBAN:24233                     NaN         NaN
2015-12-31 08:53:00  WBAN:24233                     NaN         NaN
2015-12-31 09:53:00  WBAN:24233                     NaN         NaN
2015-12-31 10:00:00  WBAN:24233                     NaN         NaN
2015-12-31 10:53:00  WBAN:24233                     NaN         NaN
2015-12-31 11:53:00  WBAN:24233                     NaN         NaN
2015-12-31 12:53:00  WBAN:24233                     NaN         NaN
2015-12-31 13:53:00  WBAN:24233                     NaN         NaN
2015-12-31 14:53:00  WBAN:24233                     NaN         NaN
2015-12-31 15:53:00  WBAN:24233                     NaN         NaN
2015-12-31 16:00:00  WBAN:24233                     NaN         NaN
2015-12-31 16:53:00  WBAN:24233                     NaN         NaN
2015-12-31 17:53:00  WBAN:24233                     NaN         NaN
2015-12-31 18:53:00  WBAN:24233                     NaN         NaN
2015-12-31 19:53:00  WBAN:24233                     NaN         NaN
2015-12-31 20:53:00  WBAN:24233                     NaN         NaN
2015-12-31 21:53:00  WBAN:24233                     NaN         NaN
2015-12-31 22:00:00  WBAN:24233                      34         NaN
2015-12-31 22:53:00  WBAN:24233                     NaN         NaN
2015-12-31 23:53:00  WBAN:24233                      35         NaN
2015-12-31 23:59:00  WBAN:24233                      35        0.00

[12905 rows x 3 columns]

In [6]:
# Turn all non-numerical values into NaN for columns that should be numbers (via coerce) 
seatac_2015['DAILYAverageDryBulbTemp'] = seatac_2015['DAILYAverageDryBulbTemp'].apply(pd.to_numeric, errors='coerce')
seatac_2015['DAILYPrecip'] = seatac_2015['DAILYPrecip'].apply(pd.to_numeric, errors='coerce')

#Drop rows where there is no DAILYAverageDryBulbTemp value
seatac_2015.dropna(subset=['DAILYAverageDryBulbTemp'], inplace=True)

# Replace NaN for precipitation with 0
seatac_2015['DAILYPrecip'].fillna(0, inplace=True)

# Replace trace amounts of precipitation ('T') with 0.00001
seatac_2015['DAILYPrecip'].replace('T', 0.00001, inplace=True)

# Downsamples data to 1 day -- temperatures are averaged and precipitation is added
seatac_2015 = seatac_2015.resample('1D').agg({'DAILYAverageDryBulbTemp': np.mean, 'DAILYPrecip': np.sum})

# Removes pandas upsampling that inserts NaNs for rows of days that did not previously exist
seatac_2015.dropna(subset=['DAILYAverageDryBulbTemp'], inplace=True)

display(seatac_2015)

            DAILYPrecip  DAILYAverageDryBulbTemp
DATE
2015-01-01         0.00                34.250000
2015-01-02         0.06                36.750000
2015-01-03         0.06                38.000000
2015-01-04         0.40                43.000000
2015-01-05         0.70                51.250000
2015-01-06         0.24                48.750000
2015-01-07         0.00                45.000000
2015-01-08         0.00                40.750000
2015-01-09         0.01                42.500000
2015-01-10         0.23                44.500000
2015-01-11         0.21                46.500000
2015-01-12         0.05                45.500000
2015-01-13         0.00                43.500000
2015-01-14         0.00                39.000000
2015-01-15         0.38                40.250000
2015-01-16         0.00                47.666667
2015-01-17         1.03                47.000000
2015-01-18         2.02                51.000000
2015-01-19         0.72                47.250000
2015-01-20         0.01                43.750000
2015-01-21         0.00                39.250000
2015-01-22         0.03                45.500000
2015-01-23         0.26                49.500000
2015-01-24         0.27                54.000000
2015-01-25         0.00                54.400000
2015-01-26         0.00                52.500000
2015-01-27         0.03                51.250000
2015-01-28         0.03                47.750000
2015-01-29         0.00                46.250000
2015-01-30         0.00                41.500000
...                 ...                      ...
2015-12-02         0.62                45.000000
2015-12-03         0.50                51.500000
2015-12-04         0.32                48.750000
2015-12-05         0.70                46.250000
2015-12-06         1.26                49.250000
2015-12-07         1.32                50.500000
2015-12-08         3.42                53.333333
2015-12-09         2.84                51.250000
2015-12-10         0.59                48.500000
2015-12-11         0.31                44.750000
2015-12-12         0.63                45.250000
2015-12-13         0.69                45.000000
2015-12-14         0.04                41.250000
2015-12-15         0.06                39.000000
2015-12-16         0.32                40.500000
2015-12-17         0.88                41.250000
2015-12-18         0.73                44.000000
2015-12-19         0.42                42.500000
2015-12-20         0.17                43.500000
2015-12-21         1.36                40.750000
2015-12-22         1.15                41.000000
2015-12-23         0.42                40.000000
2015-12-24         0.42                38.500000
2015-12-25         0.33                38.500000
2015-12-26         0.00                36.500000
2015-12-27         0.34                38.000000
2015-12-28         0.40                38.000000
2015-12-29         0.06                38.750000
2015-12-30         0.00                36.000000
2015-12-31         0.00                34.750000

[365 rows x 2 columns]

In [ ]:
pd.rolling_mean(seatac_2015, window=3, min_periods=1)