# Binning Data for Report 2

Testing code that allows us to find a 3 day moving average of daily average temperatures and comparing a daily average temperature to the average daily temperatures for the 3 previous days.

In [1]:
from __future__ import print_function, division

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import plot_date
import seaborn as sns

import datetime as dt
from datetime import datetime
from IPython.display import display

In [2]:
stations = {'seattle': 'WBAN:24233', 
            'boston': 'WBAN:14739', 
            'lexington': 'WBAN:93820', 
            'san diego': 'WBAN:93107'}

# Make a date parsing function with the correct format
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M')

# Read the CSV while parsing the dates
df = pd.read_csv("913023.csv", parse_dates=['DATE'], date_parser=dateparse)

/home/william/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,10,11,12,13,14,15,16,17,19,20,22,23,25,26,27,28,29,33,34,37,38,39,40,44,45,46,47,48,50,59,60,62,63,64,67,68,69,71,72,73,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Remove all columns except for STATION, DATE, DAILYAverageDryBulbTemp, DAILYPrecip
#Make a copy of the original DataFrame
seatac = df.copy(deep=True)

#Uses DATE column as row index for resampling purposes later
seatac.set_index('DATE', inplace=True)

#Select rows of data for Seattle (WBAN:24233)
seatac = seatac.loc[seatac['STATION'] == stations['seattle']]

#Select columns with data we need
seatac = seatac[['STATION', 'DAILYAverageDryBulbTemp', 'DAILYPrecip']]

#Select 2015 data
seatac_2015 = seatac.copy(deep=True)
seatac_2015 = seatac_2015.ix['2015-01-01':'2015-12-31']
display(seatac_2015)

                        STATION DAILYAverageDryBulbTemp DAILYPrecip
DATE
2015-01-01 00:53:00  WBAN:24233                     NaN         NaN
2015-01-01 01:53:00  WBAN:24233                     NaN         NaN
2015-01-01 02:53:00  WBAN:24233                     NaN         NaN
2015-01-01 03:53:00  WBAN:24233                     NaN         NaN
2015-01-01 04:00:00  WBAN:24233                      34         NaN
2015-01-01 04:53:00  WBAN:24233                     NaN         NaN
2015-01-01 05:53:00  WBAN:24233                     NaN         NaN
2015-01-01 06:53:00  WBAN:24233                     NaN         NaN
2015-01-01 07:53:00  WBAN:24233                     NaN         NaN
2015-01-01 08:53:00  WBAN:24233                     NaN         NaN
2015-01-01 09:53:00  WBAN:24233                     NaN         NaN
2015-01-01 10:00:00  WBAN:24233                     NaN         NaN
2015-01-01 10:53:00  WBAN:24233                     NaN         NaN
2015-01-01 11:53:00  WBAN:24233                     NaN         NaN
2015-01-01 12:53:00  WBAN:24233                     NaN         NaN
2015-01-01 13:53:00  WBAN:24233                     NaN         NaN
2015-01-01 14:53:00  WBAN:24233                     NaN         NaN
2015-01-01 15:53:00  WBAN:24233                     NaN         NaN
2015-01-01 16:00:00  WBAN:24233                     NaN         NaN
2015-01-01 16:53:00  WBAN:24233                     NaN         NaN
2015-01-01 17:53:00  WBAN:24233                     NaN         NaN
2015-01-01 18:53:00  WBAN:24233                     NaN         NaN
2015-01-01 19:53:00  WBAN:24233                     NaN         NaN
2015-01-01 20:53:00  WBAN:24233                     NaN         NaN
2015-01-01 21:53:00  WBAN:24233                     NaN         NaN
2015-01-01 22:00:00  WBAN:24233                      35         NaN
2015-01-01 22:53:00  WBAN:24233                     NaN         NaN
2015-01-01 23:53:00  WBAN:24233                      34         NaN
2015-01-01 23:59:00  WBAN:24233                      34        0.00
2015-01-02 00:53:00  WBAN:24233                     NaN         NaN
...                         ...                     ...         ...
2015-12-30 23:59:00  WBAN:24233                      36        0.00
2015-12-31 00:53:00  WBAN:24233                     NaN         NaN
2015-12-31 01:53:00  WBAN:24233                     NaN         NaN
2015-12-31 02:53:00  WBAN:24233                     NaN         NaN
2015-12-31 03:53:00  WBAN:24233                     NaN         NaN
2015-12-31 04:00:00  WBAN:24233                      35         NaN
2015-12-31 04:53:00  WBAN:24233                     NaN         NaN
2015-12-31 05:53:00  WBAN:24233                     NaN         NaN
2015-12-31 06:53:00  WBAN:24233                     NaN         NaN
2015-12-31 07:53:00  WBAN:24233                     NaN         NaN
2015-12-31 08:53:00  WBAN:24233                     NaN         NaN
2015-12-31 09:53:00  WBAN:24233                     NaN         NaN
2015-12-31 10:00:00  WBAN:24233                     NaN         NaN
2015-12-31 10:53:00  WBAN:24233                     NaN         NaN
2015-12-31 11:53:00  WBAN:24233                     NaN         NaN
2015-12-31 12:53:00  WBAN:24233                     NaN         NaN
2015-12-31 13:53:00  WBAN:24233                     NaN         NaN
2015-12-31 14:53:00  WBAN:24233                     NaN         NaN
2015-12-31 15:53:00  WBAN:24233                     NaN         NaN
2015-12-31 16:00:00  WBAN:24233                     NaN         NaN
2015-12-31 16:53:00  WBAN:24233                     NaN         NaN
2015-12-31 17:53:00  WBAN:24233                     NaN         NaN
2015-12-31 18:53:00  WBAN:24233                     NaN         NaN
2015-12-31 19:53:00  WBAN:24233                     NaN         NaN
2015-12-31 20:53:00  WBAN:24233                     NaN         NaN
2015-12-31 21:53:00  WBAN:24233                     NaN         NaN
2015-12-31 22:00:00  WBAN:24233                      34         NaN
2015-12-31 22:53:00  WBAN:24233                     NaN         NaN
2015-12-31 23:53:00  WBAN:24233                      35         NaN
2015-12-31 23:59:00  WBAN:24233                      35        0.00

[12905 rows x 3 columns]

In [4]:
# Turn all non-numerical values into NaN for columns that should be numbers (via coerce) 
seatac_2015['DAILYAverageDryBulbTemp'] = seatac_2015['DAILYAverageDryBulbTemp'].apply(pd.to_numeric, errors='coerce')
seatac_2015['DAILYPrecip'] = seatac_2015['DAILYPrecip'].apply(pd.to_numeric, errors='coerce')

#Drop rows where there is no DAILYAverageDryBulbTemp value
seatac_2015.dropna(subset=['DAILYAverageDryBulbTemp'], inplace=True)

# Replace NaN for precipitation with 0
seatac_2015['DAILYPrecip'].fillna(0, inplace=True)

# Replace trace amounts of precipitation ('T') with 0.00001
seatac_2015['DAILYPrecip'].replace('T', 0.00001, inplace=True)

# Downsamples data to 1 day -- temperatures are averaged and precipitation is added
seatac_2015 = seatac_2015.resample('1D').agg({'DAILYAverageDryBulbTemp': np.mean, 'DAILYPrecip': np.sum})

# Removes pandas upsampling that inserts NaNs for rows of days that did not previously exist
seatac_2015.dropna(subset=['DAILYAverageDryBulbTemp'], inplace=True)

display(seatac_2015)

            DAILYAverageDryBulbTemp  DAILYPrecip
DATE
2015-01-01                34.250000         0.00
2015-01-02                36.750000         0.06
2015-01-03                38.000000         0.06
2015-01-04                43.000000         0.40
2015-01-05                51.250000         0.70
2015-01-06                48.750000         0.24
2015-01-07                45.000000         0.00
2015-01-08                40.750000         0.00
2015-01-09                42.500000         0.01
2015-01-10                44.500000         0.23
2015-01-11                46.500000         0.21
2015-01-12                45.500000         0.05
2015-01-13                43.500000         0.00
2015-01-14                39.000000         0.00
2015-01-15                40.250000         0.38
2015-01-16                47.666667         0.00
2015-01-17                47.000000         1.03
2015-01-18                51.000000         2.02
2015-01-19                47.250000         0.72
2015-01-20                43.750000         0.01
2015-01-21                39.250000         0.00
2015-01-22                45.500000         0.03
2015-01-23                49.500000         0.26
2015-01-24                54.000000         0.27
2015-01-25                54.400000         0.00
2015-01-26                52.500000         0.00
2015-01-27                51.250000         0.03
2015-01-28                47.750000         0.03
2015-01-29                46.250000         0.00
2015-01-30                41.500000         0.00
...                             ...          ...
2015-12-02                45.000000         0.62
2015-12-03                51.500000         0.50
2015-12-04                48.750000         0.32
2015-12-05                46.250000         0.70
2015-12-06                49.250000         1.26
2015-12-07                50.500000         1.32
2015-12-08                53.333333         3.42
2015-12-09                51.250000         2.84
2015-12-10                48.500000         0.59
2015-12-11                44.750000         0.31
2015-12-12                45.250000         0.63
2015-12-13                45.000000         0.69
2015-12-14                41.250000         0.04
2015-12-15                39.000000         0.06
2015-12-16                40.500000         0.32
2015-12-17                41.250000         0.88
2015-12-18                44.000000         0.73
2015-12-19                42.500000         0.42
2015-12-20                43.500000         0.17
2015-12-21                40.750000         1.36
2015-12-22                41.000000         1.15
2015-12-23                40.000000         0.42
2015-12-24                38.500000         0.42
2015-12-25                38.500000         0.33
2015-12-26                36.500000         0.00
2015-12-27                38.000000         0.34
2015-12-28                38.000000         0.40
2015-12-29                38.750000         0.06
2015-12-30                36.000000         0.00
2015-12-31                34.750000         0.00

[365 rows x 2 columns]

In [5]:
# Takes the 3 day moving average of temperature
seatac_2015['MOVAvg'] = seatac_2015.rolling(window='3D', min_periods=1).mean()['DAILYAverageDryBulbTemp']

display(seatac_2015)

            DAILYAverageDryBulbTemp  DAILYPrecip     MOVAvg
DATE
2015-01-01                34.250000         0.00  34.250000
2015-01-02                36.750000         0.06  35.500000
2015-01-03                38.000000         0.06  36.333333
2015-01-04                43.000000         0.40  39.250000
2015-01-05                51.250000         0.70  44.083333
2015-01-06                48.750000         0.24  47.666667
2015-01-07                45.000000         0.00  48.333333
2015-01-08                40.750000         0.00  44.833333
2015-01-09                42.500000         0.01  42.750000
2015-01-10                44.500000         0.23  42.583333
2015-01-11                46.500000         0.21  44.500000
2015-01-12                45.500000         0.05  45.500000
2015-01-13                43.500000         0.00  45.166667
2015-01-14                39.000000         0.00  42.666667
2015-01-15                40.250000         0.38  40.916667
2015-01-16                47.666667         0.00  42.305556
2015-01-17                47.000000         1.03  44.972222
2015-01-18                51.000000         2.02  48.555556
2015-01-19                47.250000         0.72  48.416667
2015-01-20                43.750000         0.01  47.333333
2015-01-21                39.250000         0.00  43.416667
2015-01-22                45.500000         0.03  42.833333
2015-01-23                49.500000         0.26  44.750000
2015-01-24                54.000000         0.27  49.666667
2015-01-25                54.400000         0.00  52.633333
2015-01-26                52.500000         0.00  53.633333
2015-01-27                51.250000         0.03  52.716667
2015-01-28                47.750000         0.03  50.500000
2015-01-29                46.250000         0.00  48.416667
2015-01-30                41.500000         0.00  45.166667
...                             ...          ...        ...
2015-12-02                45.000000         0.62  40.083333
2015-12-03                51.500000         0.50  46.416667
2015-12-04                48.750000         0.32  48.416667
2015-12-05                46.250000         0.70  48.833333
2015-12-06                49.250000         1.26  48.083333
2015-12-07                50.500000         1.32  48.666667
2015-12-08                53.333333         3.42  51.027778
2015-12-09                51.250000         2.84  51.694444
2015-12-10                48.500000         0.59  51.027778
2015-12-11                44.750000         0.31  48.166667
2015-12-12                45.250000         0.63  46.166667
2015-12-13                45.000000         0.69  45.000000
2015-12-14                41.250000         0.04  43.833333
2015-12-15                39.000000         0.06  41.750000
2015-12-16                40.500000         0.32  40.250000
2015-12-17                41.250000         0.88  40.250000
2015-12-18                44.000000         0.73  41.916667
2015-12-19                42.500000         0.42  42.583333
2015-12-20                43.500000         0.17  43.333333
2015-12-21                40.750000         1.36  42.250000
2015-12-22                41.000000         1.15  41.750000
2015-12-23                40.000000         0.42  40.583333
2015-12-24                38.500000         0.42  39.833333
2015-12-25                38.500000         0.33  39.000000
2015-12-26                36.500000         0.00  37.833333
2015-12-27                38.000000         0.34  37.666667
2015-12-28                38.000000         0.40  37.500000
2015-12-29                38.750000         0.06  38.250000
2015-12-30                36.000000         0.00  37.583333
2015-12-31                34.750000         0.00  36.500000

[365 rows x 3 columns]

In [6]:
# Calculates deviation from the moving average for the previous three days of temperature data
for d in seatac_2015.index:
    if d.month == 1 and d.day == 1:
        seatac_2015.loc[d, 'DEVFromAvg'] = 0
    else:
        seatac_2015.loc[d, 'DEVFromAvg'] = seatac_2015.loc[d, 'DAILYAverageDryBulbTemp'] - seatac_2015.loc[d-1, 'MOVAvg']

display(seatac_2015)

            DAILYAverageDryBulbTemp  DAILYPrecip     MOVAvg  DEVFromAvg
DATE
2015-01-01                34.250000         0.00  34.250000    0.000000
2015-01-02                36.750000         0.06  35.500000    2.500000
2015-01-03                38.000000         0.06  36.333333    2.500000
2015-01-04                43.000000         0.40  39.250000    6.666667
2015-01-05                51.250000         0.70  44.083333   12.000000
2015-01-06                48.750000         0.24  47.666667    4.666667
2015-01-07                45.000000         0.00  48.333333   -2.666667
2015-01-08                40.750000         0.00  44.833333   -7.583333
2015-01-09                42.500000         0.01  42.750000   -2.333333
2015-01-10                44.500000         0.23  42.583333    1.750000
2015-01-11                46.500000         0.21  44.500000    3.916667
2015-01-12                45.500000         0.05  45.500000    1.000000
2015-01-13                43.500000         0.00  45.166667   -2.000000
2015-01-14                39.000000         0.00  42.666667   -6.166667
2015-01-15                40.250000         0.38  40.916667   -2.416667
2015-01-16                47.666667         0.00  42.305556    6.750000
2015-01-17                47.000000         1.03  44.972222    4.694444
2015-01-18                51.000000         2.02  48.555556    6.027778
2015-01-19                47.250000         0.72  48.416667   -1.305556
2015-01-20                43.750000         0.01  47.333333   -4.666667
2015-01-21                39.250000         0.00  43.416667   -8.083333
2015-01-22                45.500000         0.03  42.833333    2.083333
2015-01-23                49.500000         0.26  44.750000    6.666667
2015-01-24                54.000000         0.27  49.666667    9.250000
2015-01-25                54.400000         0.00  52.633333    4.733333
2015-01-26                52.500000         0.00  53.633333   -0.133333
2015-01-27                51.250000         0.03  52.716667   -2.383333
2015-01-28                47.750000         0.03  50.500000   -4.966667
2015-01-29                46.250000         0.00  48.416667   -4.250000
2015-01-30                41.500000         0.00  45.166667   -6.916667
...                             ...          ...        ...         ...
2015-12-02                45.000000         0.62  40.083333    8.833333
2015-12-03                51.500000         0.50  46.416667   11.416667
2015-12-04                48.750000         0.32  48.416667    2.333333
2015-12-05                46.250000         0.70  48.833333   -2.166667
2015-12-06                49.250000         1.26  48.083333    0.416667
2015-12-07                50.500000         1.32  48.666667    2.416667
2015-12-08                53.333333         3.42  51.027778    4.666667
2015-12-09                51.250000         2.84  51.694444    0.222222
2015-12-10                48.500000         0.59  51.027778   -3.194444
2015-12-11                44.750000         0.31  48.166667   -6.277778
2015-12-12                45.250000         0.63  46.166667   -2.916667
2015-12-13                45.000000         0.69  45.000000   -1.166667
2015-12-14                41.250000         0.04  43.833333   -3.750000
2015-12-15                39.000000         0.06  41.750000   -4.833333
2015-12-16                40.500000         0.32  40.250000   -1.250000
2015-12-17                41.250000         0.88  40.250000    1.000000
2015-12-18                44.000000         0.73  41.916667    3.750000
2015-12-19                42.500000         0.42  42.583333    0.583333
2015-12-20                43.500000         0.17  43.333333    0.916667
2015-12-21                40.750000         1.36  42.250000   -2.583333
2015-12-22                41.000000         1.15  41.750000   -1.250000
2015-12-23                40.000000         0.42  40.583333   -1.750000
2015-12-24                38.500000         0.42  39.833333   -2.083333
2015-12-25                38.500000         0.33  39.000000   -1.333333
2015-12-26                36.500000         0.00  37.833333   -2.500000
2015-12-27                38.000000         0.34  37.666667    0.166667
2015-12-28                38.000000         0.40  37.500000    0.333333
2015-12-29                38.750000         0.06  38.250000    1.250000
2015-12-30                36.000000         0.00  37.583333   -2.250000
2015-12-31                34.750000         0.00  36.500000   -2.833333

[365 rows x 4 columns]